<style>
    body {
      background-image: url(background_img.jpg);
      background-size: 100%, 100%;
    }
  </style>
  

<div class="home_content">
  <h1 class="home_title"> Welcome to the Todo Homepage </h1>

<h3 class="home_authenticate"> 
    New User ? <%= link_to "sign up here", new_user_path %> 
</h3>

<h3 class="home_authenticate"> 
    Existing User ? <%= link_to "sign in here", new_sessions_path %> 
</h3>
</div>

