<style>
    body {
      background-image: url(background_img.jpg);
      background-size: 100%, 100%;
    }
  </style>

  <main class="todo_page_main">
      <article>
        <h1 class="todo_page_title">My Todo-List</h1>
        <section class="add_todo">
          <input class="add_todo_text" type="text" placeholder="Type New Todo Here" />
          <input class="add_todo_date" type="date" />
          <input class="add_todo_button" type="button" value="Add Todo" />
        </section>
        
        <%= render partial: "todo-section", locals: {
                     section_title: "Overdue",
                     todos: Todo.overdue.where(completed: false),
                     show_due_date: true,
                   } %>
        <%= render partial: "todo-section", locals: {
                     section_title: "Due Today",
                     todos: Todo.due_today,
                     show_due_date: false,
                   } %>        
        
        <%= render partial: "todo-section", locals: {
                     section_title: "Due Later",
                     todos: Todo.due_later,
                     show_due_date: true,
                   } %>



    </article>
</main>