.home_content{
  box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.658);
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.home_title {
  font-size: 25px;
  margin-bottom: 30px;
  color: white;
}

.home_authenticate {
  font-size: 25px;
  margin-bottom: 20px;
  color:white;
}

.user_header{
  padding: 10px;
  background-color: lavender;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flash_error{
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}