.home_title {
  font-size: 25px;
  margin-bottom: 30px;
}

.home_authenticate {
  font-size: 25px;
  margin-bottom: 20px;
}

.user_header{
  padding: 10px;
  background-color: lavender;
  font-size: 14px;
  margin-bottom: 10px;
}