<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Management App</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="my_app.css" />
  </head>

  <body>
    <h1>My Todo-List</h1>
    <article>
      <section>
        <h2>Due Today</h2>
        <p>Submit Saas 201</p>
        <p>Call accountant</p>
      </section>

      <section>
        <h2>Due Tommorow</h2>
        <p>Refil Groceries</p>
      </section>
    </article>
  </body>
</html>
