<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Management App</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="my_app.css" />
  </head>

  <style>
    body {
      background-image: url(/home/amsanjeev/todo_manager/app/views/layouts/side_img.jpg);
    background-size: 100%, 100%;}
  </style>
  <body>
    <main class="todo_page_main">
      <article>
        <h1 class="todo_page_title">My Todo-List</h1>

        <section class="todo_section">
          <h2 class="todo_section_title">Due Today</h2>
          <p class="todo_section_todo">Submit Saas 201</p>
          <p class="todo_section_todo">Call accountant</p>
        </section>
        <section class="todo_section">
          <h2 class="todo_section_title">Due Tommorow</h2>
          <p class="todo_section_todo">Refil Groceries</p>
        </section>
        <section class="todo_section">
          <h2 class="todo_section_title">Remaining</h2>
          <p class="todo_section_todo">Type Something</p>
          <p class="todo_section_todo">Type Something</p>
          <p class="todo_section_todo">Type Something</p>
        </section>
      </article>
    </main>
  </body>
</html>
